<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/adminHead::head(~{::title})">
    <title>博客管理</title>
</head>

<body>
<!-- 导航 -->
<div th:replace="commons/adminHead::top"></div>

<!-- 	主体 -->
<div class="h-body-bottom h-margin-show h-padded-td-large">
    <div class="ui container">
        <div class="h-body-bottom">
            <center> <h1>欢迎来到后台管理页面</h1></center>
            <center>
                <h3>Tips</h3>
                <p>(1) 本博客区分游客评论和博主评论的方式是博主登录之后产生的session</p>
                <p>(2) 关于我和友联页复用了博客详情,需要自行前往 博客 -> 新增 -> 类型选择(友联页,关于我页) 来添加</p>
                <p>(3) 因为选型是个人博客,没有做用户管理,直接往数据库插数据就完事了,也没有做登录评论,因为估计加个登录游客就懒的评论了</p>
            </center>
        </div>
</div>
</div>


<th:block th:replace="commons/adminHead::script" ></th:block>
<script>
    $('.ui .dropdown').dropdown({
        on:'hover'
    });
</script>

</body>
</html>
